<html lang="en-us"><head>
	<title>Add user | Django site admin</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'demo_admin/style.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body class="auth-user change-form">
	<!-- Container -->
	<div id="container">
		<!-- Header -->
		<div id="header">
			<div id="branding">
				<h1 id="site-name">Django administration test</h1>
			</div>
			<div id="user-tools">
				Welcome,
				<strong>superamdin</strong>.
				<a href="/admin/logout/">Log out</a>
			</div>
            <div id="event-tools">
                <a href="/admin/create/">create event</a>
            </div>
			
		</div>
		<!-- END Header -->
		<!-- Content -->
		<div id="content" class="colM">
            <div class="content container">
                <table class="event_table" style="width:100%">
                        <tr>
                            <th>
                                id
                            </th>
                            <th>
                                name
                            </th>
                            <th>
                                category
                            </th>
                                <th>
                                date
                            </th>
                            <th>
                                title
                            </th>
                            <th>
                                description
                            </th>
                            <th>
                                event_photo
                            </th>
                            <th>
                                location
                            </th>                            
                        </tr>
                    {% for event in events %}
                        <tr>
                            <td>
                                {{ event.id }}
                            </td>
                            <td>
                                {{ event.name }}
                            </td>
                            <td>
                                {{ event.category }}
                            </td>
                            <td>
                                {{ event.date }}
                            </td>
                            <td>
                                {{ event.title }}
                            </td>
                            <td>
                                {{ event.description }}
                            </td> 
                            <td>
                                {{ event.event_photo }}
                            </td>
                            <td>
                                {{ event.location }}
                            </td>                                                        
                        </tr>
                    {% endfor %}
                </table>
            </div>			
		</div>
		<!-- END Content -->
		<div id="footer"></div>
	</div>
	<!-- END Container -->
</body></html>
